In [1]:
import pandas as pd
import json
import requests
pd.options.display.max_columns=30

In [2]:
api_key = "api_key=28681f143b15a37d1f333878f44199e0"

In [3]:
basic_url = "https://api.themoviedb.org/3/movie/{}?{}"

In [4]:
movie_id = [0, 299534, 19995, 140607, 299536, 597, 135397,
            420818, 24428, 168259, 99861, 284054, 12445,
            181808, 330457, 351286, 109445, 321612, 260513]

In [5]:
json_list=[]
for movie in movie_id:
    url = basic_url.format(movie,api_key)
    r = requests.get(url)
    if r.status_code != 200:
        continue
    else :
        data = r.json()
        json_list.append(data)
df = pd.DataFrame(json_list)

In [6]:
requests.get(basic_url.format(0,api_key)).status_code

404

In [7]:
df

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",356000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",https://www.marvel.com/movies/avengers-endgame,299534,tt4154796,en,Avengers: Endgame,After the devastating events of Avengers: Infi...,211.798,/or06FN3Dka5tukK1e9sl16pB3iy.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-04-24,2797800564,181,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Avenge the fallen.,Avengers: Endgame,False,8.279,21781
1,False,/7ABsaBkO1jA2psC8Hy4IDhkID4h.jpg,"{'id': 87096, 'name': 'Avatar Collection', 'po...",237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://www.avatar.com/movies/avatar,19995,tt0499549,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",871.168,/jRXYjXNq0Cs2TcJjLkki24MLp7u.jpg,"[{'id': 25, 'logo_path': '/qZCc1lty5FzX30aOCVR...","[{'iso_3166_1': 'US', 'name': 'United States o...",2009-12-10,2847246203,162,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Enter the world of Pandora.,Avatar,False,7.517,26053
2,False,/8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,68.940,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,"[{'id': 1, 'logo_path': '/o86DbpburjxrqAzEDhXZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.315,17334
3,False,/mDfJG3LC3Dqb67AZ52x3Z0jU0uB.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",https://www.marvel.com/movies/avengers-infinit...,299536,tt4154756,en,Avengers: Infinity War,As the Avengers and their allies have continue...,368.727,/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-04-25,2046239637,149,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,An entire universe. Once and for all.,Avengers: Infinity War,False,8.266,25421
4,False,/3WjbxaqYB4vAbdUfdr5vbglD2JZ.jpg,None,200000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",,597,tt0120338,en,Titanic,101-year-old Rose DeWitt Bukater tells the sto...,163.667,/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg,"[{'id': 4, 'logo_path': '/gz66EfNoYPqHTYI4q9UE...","[{'iso_3166_1': 'US', 'name': 'United States o...",1997-11-18,2187463944,194,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Nothing on Earth could come between them.,Titanic,False,7.875,21529
5,False,/dF6FjTZzRTENfB4R17HDN20jLT2.jpg,"{'id': 328, 'name': 'Jurassic Park Collection'...",150000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.jurassicworld.com/,135397,tt0369610,en,Jurassic World,Twenty-two years after the events of Jurassic ...,107.800,/rhr4y79GpxQF9IsfJItRXVaoGs4.jpg,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-06-06,1671713208,124,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The park is open.,Jurassic World,False,6.700,18451
6,False,/1TUg5pO1VZ4B0Q1amk3OlXvlpXV.jpg,"{'id': 762512, 'name': 'The Lion King (Reboot)...",260000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",https://movies.disney.com/the-lion-king-2019,420818,tt6105098,en,The Lion King,"Simba idolizes his father, King Mufasa, and ta...",244.501,/dzBtMocZuJbjLOXvrl4zGYigDzh.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-07-12,1667635327,118,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The King has Returned.,The Lion King,False,7.141,8650
7,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.marvel.com/movies/the-avengers,24428,tt0848228,en,The Avengers,When an unexpected enemy emerges and threatens...,230.762,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2012-04-25,1518815515,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.706,27508
8,False,/cHkhb5A4gQRK6zs6Pv7zorHs8Nk.jpg,"{'id': 9485, 'name': 'The Fast and the Furious...",190000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",https://www.thefastsaga.com/fast-saga/ff7,168259,tt2820852,en,Furious 7,Deckard Shaw seeks revenge against Dominic Tor...,136.652,/ktofZ9Htrjiy0P6LEowsDaxd3Ri.jpg,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...","[{'iso_3166_1': 'CN', 'name': 'China'}, {'iso_...",2015-04-01,1515047671,137,"[{'english_name': 'Arabic', 'iso_639_1': 'ar',...",Released,Vengeance hits home,Furious 7,False,7.239,9299
9,False,/6YwkGolwdOMNpbTOmLjoehlVWs5.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",365000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://marvel.com/movies/movie/193/avengers_ag...,99861,tt2395427,en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,197.188,/4ssDuvEDkSArWEdyBl2X5EHvYKU.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-04-22,1405403694,141,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A New Age Has Come.,Avengers: Age of Ultron,False,7.290,20349
10,False,/6ELJEzQJ3Y45HczvreC3dg0GV5R.jpg,"{'id': 529892, 'name': 'Black Panther Collecti...",200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://www.marvel.com/movies/black-panther,284054,tt1825683,en,Black Panther,"King T'Challa returns home to the reclusive, t...",120.653,/uxzzxijgPIY7slzFvMotPv8wjKA.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-02-13,1347597973,135,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Long live the king.,Black Panther,False,7.396,19511
11,False,/n5A7brJCjejceZmHyujwUTVgQNC.jpg,"{'id': 1241, 'name': 'Harry Potter Collection'...",125000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",https://www.warnerbros.com/movies/harry-potter...,12445,tt1201607,en,Harry Potter and the Deathly Hallows: Part 2,"Harry, Ron and Hermione continue their quest t...",190.679,/c54HpQmuwXjHq2C9wmoACjxoom3.jpg,"[{'id': 174, 'logo_path': '/IuAlhI9eVC9Z8UQWOI...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",2011-07-07,1341511219,130,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,It all ends here.,Harry Potter and the Deathly Hallows: Part 2,False,8.119,17707
12,False,/5Iw7zQTHVRBOYpA0V6z0yypOPZh.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",200000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",https://www.starwars.com/films/star-wars-episo...,181808,tt2527336,en,Star Wars: The Last Jedi,Rey develops her newly discovered abilities wi...,65.925,/ySaaKHOLAQU5HoZqWmzDIj1VvZ1.jpg,"[{'id': 1, 'logo_path': '/o86DbpburjxrqAzEDhXZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2017-12-13,1332698830,152,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Darkness rises... and light to meet it,Star Wars: The Last Jedi,False,6.856,13336
13,False,/AoSZyb37ljMAxw0RdeQEBHKtgcc.jpg,"{'id': 386382, 'name': 'Frozen Collection', 'p...",150000000,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",https://movies.disney.com/frozen-2,330457,tt4520988,en,Frozen II,"Elsa, Anna, Kristoff and Olaf head far into th...",176.881,/mINJaa34MtknCYl5AjtNJzWj8cD.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-11-20,1450026933,103,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The past is not what it seems.,Frozen II,False,7.297,8409
14,False,/6WA9stUMbIkEPxn3D5SWlA8FIi7.jpg,"{'id': 328, 'name': 'Jurassic Park Collection'...",170000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.jurassicworld.com,351286,tt4881806,en,Jurassic World: Fallen Kingdom,Three years after the demise of Jurassic World...,101.690,/c9XxwwhPHdaImA2f1WEfEsbhaFB.jpg,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-06-06,1310466296,129,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The park is gone.,Jurassic World: Fallen Kingdom,False,6.560,10224
15,False,/fydUcbkqLyESCFa9U5XKqi8dIVj.jpg,"{'id': 386382, 'name': 'Frozen Collection', 'p...",150000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",http://movies.disney.com/frozen,109445,tt2294629,en,Frozen,Young princess Anna of Arendelle dreams about ...,145.779,/kgwjIb2JDHRhNk13lmSxiClFjVk.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2013-11-20,1274219009,102,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Only the act of true love will thaw a frozen h...,Frozen,False,7.255,14545
16,False,/phhbtV5BEdn4TYLTMKFwYz2VSNl.jpg,None,160000000,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",http://movies.disney.com/beauty-and-the-beast-...,321612,tt2771200,en,Beauty and the Beast,A live-action adaptation of Disney's version o...,108.161,/hKegSKIDep2ewJWPUQD7u0KqFIp.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2017-03-16,1263521126,129,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Be our guest.,Beauty and the Beast,False,6.968,14284
17,False,/mabuNsGJgRuCTuGqjFkWe1xdu19.jpg,"{'id': 468222, 'name': 'The Incredibles Collec...",200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://movies.disney.com/incredibles-2,260513,tt3606756,en,Incredibles 2,Elastigirl springs into action to save the day...,86.741,/aTbRJHCrQwceSS5b8LYj7hC654I.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-06-14,1242805359,118,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Back to work.,Incredibles 2,False,7.507,11216

In [8]:
df=df.loc[:,['title','id','revenue','genres','belongs_to_collection','runtime']].sort_values(by='revenue',ascending=False)
df

,title,id,revenue,genres,belongs_to_collection,runtime
1,Avatar,19995,2847246203,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
4,Titanic,597,2187463944,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1667635327,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...","{'id': 762512, 'name': 'The Lion King (Reboot)...",118
7,The Avengers,24428,1518815515,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1515047671,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
13,Frozen II,330457,1450026933,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",103
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1347597973,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",135
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332698830,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
14,Jurassic World: Fallen Kingdom,351286,1310466296,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,Incredibles 2,260513,1242805359,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [9]:
df.to_json("movie.json", orient='records')

In [10]:
with open('movie.json') as f :
    data = json.load(f)

In [11]:
data

[{'title': 'Avatar',
  'id': 19995,
  'revenue': 2847246203,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 87096,
   'name': 'Avatar Collection',
   'poster_path': '/gC3tW9a45RGOzzSh6wv91pFnmFr.jpg',
   'backdrop_path': '/6qkJLRCZp9Y3ovXti5tSuhH0DpO.jpg'},
  'runtime': 162},
 {'title': 'Avengers: Endgame',
  'id': 299534,
  'revenue': 2797800564,
  'genres': [{'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'}],
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'runtime': 181},
 {'title': 'Titanic',
  'id': 597,
  'revenue': 2187463944,
  'genres': [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}],
  'belongs_to_collection': None,
  'runtime': 194},
 {'title': 'Star Wars: The Force Awakens',
  'id': 140607,
  'revenue': 2068223624,
  'genres': [{'id': 12, 'name': 'Adventure'},
   {'id': 28, 'name': 'Action'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 14, 'name': 'Fantasy'}],
  'belongs_to_collection': {'id': 10,
   'name': 'Star Wars Collection',
   'poster_path': '/gq5Wi7i4SF3lo4HHkJasDV95xI9.jpg',
   'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
  'runtime': 136},
 {'title': 'Avengers: Infinity War',
  'id': 299536,
  'revenue': 2046239637,
  'genres': [{'id': 12, 'name': 'Adventure'},
   {'id': 28, 'name': 'Action'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'runtime': 149},
 {'title': 'Jurassic World',
  'id': 135397,
  'revenue': 1671713208,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 53, 'name': 'Thriller'}],
  'belongs_to_collection': {'id': 328,
   'name': 'Jurassic Park Collection',
   'poster_path': '/jcUXVtJ6s0NG0EaxllQCAUtqdr0.jpg',
   'backdrop_path': '/njFixYzIxX8jsn6KMSEtAzi4avi.jpg'},
  'runtime': 124},
 {'title': 'The Lion King',
  'id': 420818,
  'revenue': 1667635327,
  'genres': [{'id': 12, 'name': 'Adventure'},
   {'id': 10751, 'name': 'Family'},
   {'id': 16, 'name': 'Animation'},
   {'id': 18, 'name': 'Drama'}],
  'belongs_to_collection': {'id': 762512,
   'name': 'The Lion King (Reboot) Collection',
   'poster_path': '/dGpIRn4Nqi63JO1RlKxjcPbQSAw.jpg',
   'backdrop_path': '/jIgM7YNVft0YGeXsqrh3oG5TWLx.jpg'},
  'runtime': 118},
 {'title': 'The Avengers',
  'id': 24428,
  'revenue': 1518815515,
  'genres': [{'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'}],
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'runtime': 143},
 {'title': 'Furious 7',
  'id': 168259,
  'revenue': 1515047671,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 53, 'name': 'Thriller'},
   {'id': 80, 'name': 'Crime'},
   {'id': 12, 'name': 'Adventure'}],
  'belongs_to_collection': {'id': 9485,
   'name': 'The Fast and the Furious Collection',
   'poster_path': '/yvr1Ziehgps1VJyug8nnezTJRJW.jpg',
   'backdrop_path': '/gC9BUFiROWtaMsluGYziZ6lR4OJ.jpg'},
  'runtime': 137},
 {'title': 'Frozen II',
  'id': 330457,
  'revenue': 1450026933,
  'genres': [{'id': 10751, 'name': 'Family'},
   {'id': 16, 'name': 'Animation'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 35, 'name': 'Comedy'},
   {'id': 14, 'name': 'Fantasy'}],
  'belongs_to_collection': {'id': 386382,
   'name': 'Frozen Collection',
   'poster_path': '/2DdKGQYzE6D7pSvvHvM9FRzTh5r.jpg',
   'backdrop_path': '/6QonAoIN0jhWZZWZGJswSxHzUnU.jpg'},
  'runtime': 103},
 {'title': 'Avengers: Age of Ultron',
  'id': 99861,
  'revenue': 1405403694,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'runtime': 141},
 {'title': 'Black Panther',
  'id': 284054,
  'revenue': 1347597973,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 529892,
   'name': 'Black Panther Collection',
   'poster_path': '/uVnN6KnfDuHiC8rsVsSc7kk0WRD.jpg',
   'backdrop_path': '/1Jj7Frjjbewb6Q6dl6YXhL3kuvL.jpg'},
  'runtime': 135},
 {'title': 'Harry Potter and the Deathly Hallows: Part 2',
  'id': 12445,
  'revenue': 1341511219,
  'genres': [{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'name': 'Adventure'}],
  'belongs_to_collection': {'id': 1241,
   'name': 'Harry Potter Collection',
   'poster_path': '/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg',
   'backdrop_path': '/4gV0rKUjB1nLUdZB4zIltLvNZZr.jpg'},
  'runtime': 130},
 {'title': 'Star Wars: The Last Jedi',
  'id': 181808,
  'revenue': 1332698830,
  'genres': [{'id': 12, 'name': 'Adventure'},
   {'id': 28, 'name': 'Action'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 10,
   'name': 'Star Wars Collection',
   'poster_path': '/gq5Wi7i4SF3lo4HHkJasDV95xI9.jpg',
   'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
  'runtime': 152},
 {'title': 'Jurassic World: Fallen Kingdom',
  'id': 351286,
  'revenue': 1310466296,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 53, 'name': 'Thriller'}],
  'belongs_to_collection': {'id': 328,
   'name': 'Jurassic Park Collection',
   'poster_path': '/jcUXVtJ6s0NG0EaxllQCAUtqdr0.jpg',
   'backdrop_path': '/njFixYzIxX8jsn6KMSEtAzi4avi.jpg'},
  'runtime': 129},
 {'title': 'Frozen',
  'id': 109445,
  'revenue': 1274219009,
  'genres': [{'id': 16, 'name': 'Animation'},
   {'id': 10751, 'name': 'Family'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 14, 'name': 'Fantasy'}],
  'belongs_to_collection': {'id': 386382,
   'name': 'Frozen Collection',
   'poster_path': '/2DdKGQYzE6D7pSvvHvM9FRzTh5r.jpg',
   'backdrop_path': '/6QonAoIN0jhWZZWZGJswSxHzUnU.jpg'},
  'runtime': 102},
 {'title': 'Beauty and the Beast',
  'id': 321612,
  'revenue': 1263521126,
  'genres': [{'id': 10751, 'name': 'Family'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 10749, 'name': 'Romance'}],
  'belongs_to_collection': None,
  'runtime': 129},
 {'title': 'Incredibles 2',
  'id': 260513,
  'revenue': 1242805359,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 16, 'name': 'Animation'},
   {'id': 10751, 'name': 'Family'}],
  'belongs_to_collection': {'id': 468222,
   'name': 'The Incredibles Collection',
   'poster_path': '/xMX1jZyObVeWUxDQmt53X6jzIO4.jpg',
   'backdrop_path': '/6oi6V1O9MJRNnfV8E9JMntmFqBD.jpg'},
  'runtime': 118}]

In [12]:
pd.DataFrame(data)

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avatar,19995,2847246203,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
1,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
2,Titanic,597,2187463944,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
3,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
4,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1667635327,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...","{'id': 762512, 'name': 'The Lion King (Reboot)...",118
7,The Avengers,24428,1518815515,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1515047671,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
9,Frozen II,330457,1450026933,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",103
10,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
11,Black Panther,284054,1347597973,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",135
12,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
13,Star Wars: The Last Jedi,181808,1332698830,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
14,Jurassic World: Fallen Kingdom,351286,1310466296,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,Incredibles 2,260513,1242805359,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [13]:
pd.json_normalize(data)

,title,id,revenue,genres,runtime,belongs_to_collection.id,belongs_to_collection.name,belongs_to_collection.poster_path,belongs_to_collection.backdrop_path,belongs_to_collection
0,Avatar,19995,2847246203,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",162,87096.0,Avatar Collection,/gC3tW9a45RGOzzSh6wv91pFnmFr.jpg,/6qkJLRCZp9Y3ovXti5tSuhH0DpO.jpg,NaN
1,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",181,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
2,Titanic,597,2187463944,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",194,NaN,NaN,NaN,NaN,NaN
3,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",136,10.0,Star Wars Collection,/gq5Wi7i4SF3lo4HHkJasDV95xI9.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,NaN
4,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",149,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",124,328.0,Jurassic Park Collection,/jcUXVtJ6s0NG0EaxllQCAUtqdr0.jpg,/njFixYzIxX8jsn6KMSEtAzi4avi.jpg,NaN
6,The Lion King,420818,1667635327,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",118,762512.0,The Lion King (Reboot) Collection,/dGpIRn4Nqi63JO1RlKxjcPbQSAw.jpg,/jIgM7YNVft0YGeXsqrh3oG5TWLx.jpg,NaN
7,The Avengers,24428,1518815515,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",143,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
8,Furious 7,168259,1515047671,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",137,9485.0,The Fast and the Furious Collection,/yvr1Ziehgps1VJyug8nnezTJRJW.jpg,/gC9BUFiROWtaMsluGYziZ6lR4OJ.jpg,NaN
9,Frozen II,330457,1450026933,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",103,386382.0,Frozen Collection,/2DdKGQYzE6D7pSvvHvM9FRzTh5r.jpg,/6QonAoIN0jhWZZWZGJswSxHzUnU.jpg,NaN
10,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
11,Black Panther,284054,1347597973,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",135,529892.0,Black Panther Collection,/uVnN6KnfDuHiC8rsVsSc7kk0WRD.jpg,/1Jj7Frjjbewb6Q6dl6YXhL3kuvL.jpg,NaN
12,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",130,1241.0,Harry Potter Collection,/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg,/4gV0rKUjB1nLUdZB4zIltLvNZZr.jpg,NaN
13,Star Wars: The Last Jedi,181808,1332698830,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",152,10.0,Star Wars Collection,/gq5Wi7i4SF3lo4HHkJasDV95xI9.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,NaN
14,Jurassic World: Fallen Kingdom,351286,1310466296,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",129,328.0,Jurassic Park Collection,/jcUXVtJ6s0NG0EaxllQCAUtqdr0.jpg,/njFixYzIxX8jsn6KMSEtAzi4avi.jpg,NaN
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",102,386382.0,Frozen Collection,/2DdKGQYzE6D7pSvvHvM9FRzTh5r.jpg,/6QonAoIN0jhWZZWZGJswSxHzUnU.jpg,NaN
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",129,NaN,NaN,NaN,NaN,NaN
17,Incredibles 2,260513,1242805359,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",118,468222.0,The Incredibles Collection,/xMX1jZyObVeWUxDQmt53X6jzIO4.jpg,/6oi6V1O9MJRNnfV8E9JMntmFqBD.jpg,NaN

In [14]:
pd.json_normalize(data, 'genres', 'title')

       id             name                 title
0      28           Action                Avatar
1      12        Adventure                Avatar
2      14          Fantasy                Avatar
3     878  Science Fiction                Avatar
4      12        Adventure     Avengers: Endgame
..    ...              ...                   ...
57  10749          Romance  Beauty and the Beast
58     28           Action         Incredibles 2
59     12        Adventure         Incredibles 2
60     16        Animation         Incredibles 2
61  10751           Family         Incredibles 2

[62 rows x 3 columns]

importing dan storing dataset

In [15]:
df.to_csv('movie_raw.csv', index=False)

In [16]:
df= pd.read_csv('movie_raw.csv')

In [17]:
df.genres[0]

"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 878, 'name': 'Science Fiction'}]"